
/* Navbar */
.navbar{
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
}

.navbar a{
  margin: auto 2rem;
  color:beige;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0.8rem 2rem;
}


/* Site header */
.siteHeader {
  text-align: left;
  padding-left: 10rem;
}